.add_panel{
	-fx-background-color:#e9e9e9;
	-fx-background-radius:10px;
	-fx-border-color:#E77719;
	-fx-border-radius:10px;
	-fx-border-width:2px;
}
.add_button{
	-fx-background-color:#3ce549;
	-fx-border-color:#000000;
}
.image_preview{
	-fx-background-color:#000000;
	-fx-background-radius:5px;
}

.table_view{
	-fx-border-color:#E77719;
	-fx-border-width:2px;
}